<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <%- include('partials/navbar') %>
    <a href="/">Back to Home</a>
    <h1 class="text-3xl">Folder: <%= folder.name %></h1>

    <!-- Display flash messages -->
    <% if (successMessage) { %>
    <div><%= successMessage %></div>
    <% } %> <% if (errorMessage) { %>
    <div><%= errorMessage %></div>
    <% } %>

    <div>
      <form action="/folders/<%= folder.id %>/share" method="POST">
        <label for="duration">Share for (e.g., 1d, 10d):</label>
        <input
          type="text"
          name="duration"
          placeholder="1d"
          class="file-input file-input-bordered file-input-sm w-1/5 max-w-xs"
          required
        />
        <button type="submit" class="btn btn-sm">
          Generate Shareable Link
        </button>
      </form>

      <a href="/folders/<%= folder.id %>/update"
        ><button class="btn btn-sm">Update Folder</button></a
      >

      <!-- Delete folder button -->
      <form
        action="/folders/<%= folder.id %>/delete"
        method="POST"
        style="display: inline"
      >
        <button type="submit" class="btn btn-sm">Delete Folder</button>
      </form>
    </div>

    <!-- List files in the folder -->
    <% if (folder.files.length === 0) { %>
    <p>No files in this folder.</p>
    <% } else { %>
    <ul class="list-disc p-6">
      <% folder.files.forEach(function(file) { %>
      <li class="list-item list-outside">
        <a class="link link-hover" href="/files/<%= file.id %>"
          ><%= file.name %></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %>

    <!-- Form to upload file to this folder -->
    <form
      action="/folders/<%= folder.id %>/upload"
      method="POST"
      enctype="multipart/form-data"
    >
      <input
        type="file"
        name="file"
        class="file-input file-input-bordered file-input-sm w-full max-w-xs"
        required
      />
      <button type="submit" class="btn btn-sm">Upload File</button>
    </form>

    <!-- Option to go back to the list of folders -->
    <a href="/folders">Back to Folders</a>
  </body>
</html>
